* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;

  align-items: center;
  align-content: center;
}

.aboutPage {
  /* min-width: 100%; */
  max-width: 1250px;
  max-height: auto;
  align-content: center;
  justify-content: center;
}

.about-Title {
  font-size: 40pt;
  /* text-decoration: underline 4px solid rgb(255, 227, 232); */
  text-align: center;
  margin-bottom: 40px;
  background-image: linear-gradient(to top, #f8dfdf, #f77588);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.pictureHolder {
  display: flex;
  max-width: 1250px;
  text-align: center;
}

.pictureOfMe1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: auto;
  left: 10%;
}

.pictureOfMe2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: auto;
  left: 200px;
}

.text {
  font-size: 15pt;
}

p {
  margin-top: 50px;
  margin-bottom: 40px;
  text-indent: 50px;
  line-height: 1.8;
}

/*/////////////////////////////////////////////// Responsive to Screen Sizes ////////////////////////////////////////////////////////*/

@media only screen and (max-width: 1300px) {
  .pictureHolder {
    display: inherit;
    max-width: 1250px;
    height: auto;
    margin-bottom: 30px;
  }
  .pictureOfMe1 {
    width: 800px;
    height: auto;
  }
  .pictureOfMe2 {
    width: 800px;
    height: auto;
  }
}

@media only Screen and (max-width: 880px) {
  .pictureOfMe1 {
    width: 500px;
    height: auto;
  }
  .pictureOfMe2 {
    width: 500px;
    height: auto;
  }
}

@media only Screen and (max-width: 512px) {
  .pictureHolder {
    display: flex;
    max-width: 500px;
    text-align: center;
  }

  .pictureOfMe1 {
    width: 300px;
    height: auto;
  }
  .pictureOfMe2 {
    width: 300px;
    height: auto;
  }
}
