* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  margin: 0px;
  padding: 0px;

  align-items: center;
  align-content: center;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pinyon+Script&display=swap");

.contactPage {
  min-width: 100%;
}

.contact-Title {
  font-size: 50pt;
  /* text-decoration: underline 4px solid rgb(255, 227, 232); */
  text-align: center;

  background-image: linear-gradient(to top, #f8dfdf, #f77588);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.contact-Subtext {
  text-align: center;
  color: #5e5c5c;
}

/* Overall containter */
.contacts-Container {
  display: flex;
}

.textFields {
  margin-left: 80px;
  max-width: 50%;
}

/* Contacts and Socials container */
.contactsAndSocials {
  display: flex;
  flex-direction: column;
}

.contacts {
  flex: 50%;
  flex-direction: column;
  position: relative;
  left: 55%;
  bottom: 270px;
  max-width: 390px;
}

.contactIcons {
  margin: 0 0 70px 0;
}

.contactsText {
  padding-left: 40px;
  font-size: 16pt;
}

.socials {
  flex: 50%;
  width: 400px;
  justify-content: space-around;
  position: relative;
  bottom: 280px;
  left: 55%;
}

.socialIcons {
  margin-right: 50px;
  cursor: pointer;
}

.successAlert.hide {
  visibility: hidden;
}

.errorAlert.hide {
  visibility: hidden;
}

/*/////////////////////////////////////////////// Responsive to Screen Sizes ////////////////////////////////////////////////////////*/

@media only screen and (max-width: 1600px) {
  .contacts-Container {
    display: flex;
  }

  .textFields {
    max-width: 50%;
    flex-direction: column;
  }

  /* Contacts and Socials container */
  .contactsAndSocials {
    display: flex;
    flex-direction: column;
    padding-right: 200px;
  }

  .contacts {
    flex: 50%;
    flex-direction: column;
    left: 73%;
  }

  .contactIcons {
    margin: 0 0 40px 0;
  }

  .contactsText {
    padding-left: 40px;
    font-size: 16pt;
  }

  .socials {
    width: 450px;
    bottom: 200px;
    left: 73%;
  }

  .socialIcons {
    margin-right: 50px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1290px) {
  .textFields {
    margin-right: 100px;
    margin-bottom: 100px;
    max-width: 100%;
  }

  .contacts {
    flex: 50%;
    flex-direction: column;
    top: 80px;
    left: 40%;
  }

  .socials {
    width: 400px;
    top: 50px;
    left: 40%;
  }
}

@media only screen and (max-width: 960px) {
  .textFields {
    margin-right: 100px;
    margin-bottom: 100px;
    max-width: 450px;
  }

  .contacts {
    flex: 50%;
    flex-direction: column;
    top: 80px;
    left: 40%;
  }

  .socials {
    width: 400px;
    top: 50px;
    left: 40%;
  }
}

@media only screen and (max-width: 650px) {
  .textFields {
    flex: 0 0 100%;
    margin-bottom: 20px;
  }

  .contacts {
    flex: 50%;
    flex-direction: column;
    top: 50px;
    left: 40%;
  }

  .socials {
    width: 400px;
    top: 20px;
    left: 40%;
  }
}
