img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

.galleryImg:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition-duration: 0.5s;

  filter: brightness(110%);
  opacity: 0.8;
  cursor: pointer;
}

.smooth-image {
  transition: opacity 4s;
}

.image-visible {
  opacity: 1;
}

.image-hidden {
  opacity: 0;
}
