* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pinyon+Script&display=swap");

/* overall page*/

.App {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}

.menuApp {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}

/* top menu bar*/
.menu {
  width: 100%;
  height: 230px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #f7b8c1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #f7b8c1);
  background: linear-gradient(to top, #ffffff, #f7b8c1);
}

h1 {
  font-weight: bold;
  font-family: "Pinyon Script", cursive;

  padding-left: 40px;
  padding-top: 20px;
  line-height: 1.3em;
}

.title {
  color: #808080;
  font-size: 4.5em;
  line-height: 70px;
}

.menu-items > li {
  display: inline;
  margin-right: 70px;
  font-size: larger;
}

a:link,
a:visited {
  color: #808080;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Page Segmentation */
.slideshowSegment {
  height: 1100px;
}

.firstSegment {
  width: 100%;
  padding-left: 32px;

  background: #f7b8c1; /* fallback for old browsers */
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(255, 189, 198) 80%,
    rgba(255, 255, 255) 100%
  );
}

.secondSegment {
  margin-top: 150px;
  width: 100%;
  padding-left: 32px;

  background: #f7b8c1; /* fallback for old browsers */
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(255, 189, 198) 80%,
    rgb(255, 255, 255) 100%
  );
}

.thirdSegment {
  margin-top: 150px;
  width: 100%;
  padding-left: 32px;

  background: #f7b8c1; /* fallback for old browsers */
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgb(255, 189, 198) 80%,
    rgba(255, 255, 255) 100%
  );
}

/*Slideshow*/
#myimg {
  max-width: 1300px;
  height: auto;
  flex: 100%;
  z-index: 1;
  border-radius: 5%;
}

.slideshow {
  min-width: 1350px;
  height: auto;
  z-index: 1;

  border: solid 1px red;
  position: relative;
  left: 200px;
}

.rightArrow {
  text-align: center;
  position: relative;
  left: 1305px;
  top: 490px;
  font-size: 30pt;
}

.rightArrow > span {
  color: white;
  font-size: 40px;
}

.leftArrow {
  text-align: center;
  position: relative;
  bottom: 430px;
  right: 60px;
}

.leftArrow > span {
  color: white;
  font-size: 40px;
}

.quote {
  text-align: center;
  color: #bbb;
  font-size: 60pt;
  font-family: "Times New Roman", Times, serif;
  z-index: 3;

  position: relative;
  bottom: 840px;
  right: 300px;
}

.quote > span {
  font-size: 90pt;
  font-style: italic;
  color: #d1949a;
}

/* Grid Images */
.sectionTitles {
  background-color: pink;
  background-image: linear-gradient(to top, #f8dfdf, #f77588);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  font-size: 3.5em;
}

.gridImage:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);

  transform: scale(1.1);
  transition-duration: 0.3s;

  cursor: pointer;
}

/* Fade in Grid Items */
.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* For mobile phones */
@media only screen and (max-width: 620px) {
  .menu {
    width: 100%;
  }

  #myimg {
    max-width: 620px;
    height: auto;
    align-content: center;
  }

  .quote {
    font-size: 20pt;
  }
  .quote > span {
    font-size: 32pt;
  }
}
